/* Font Inter */

@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);

body {
    font-family: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* HOME PAGE */

.container {
    width: 100%;
    max-width: 1366px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

/* navbar */

nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    background: #232536;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
}

.header-navbar-logo-title {
    font-weight: 700;
    font-size: 28px;
    color: #ffffff;
}

.header-navbar-links {
    display: flex;
    gap: 18px;
    margin-left: 500px;
}

.header-navbar-links a {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    transition: .5s;
}

.header-navbar-links a:active {
    scale: 0.9;
}

/* .header-navbar-links a::before {
    content: "";
    width: 0%;
    height: 0.325vh;
    background: orange;
    position: absolute;
    top: -8px;
    left: 0px;
    transition: .5s;
}

.header-navbar-links a:hover::before {
    width: 100%;
} */

.header-navbar-links a::after {
    width: 0%;
    height: 0.325vh;
    background: #FFD050;
    position: absolute;
    content: "";
    bottom: -8px;
    left: 0px;
    transition: .5s;
}

.header-navbar-links a:hover::after {
    width: 100%;
}

.header-navbar-links a:nth-child(4) {
    margin-right: 50px;
}

.header-navbar-login button {
    background: #ffffff;
    padding: 15px 45px;
    font-weight: 700;
    font-size: 18px;
    transition: .5s;
    cursor: pointer;
    border: none;
    outline: none;
}

.header-navbar-login button:active {
    background: rgba(229, 226, 226, 0.73);
    scale: 0.9;
}

.header-navbar-login button a {
    color: #232536;
    transition: .5s;
}

.header-navbar-login button a:active {
    scale: 0.9;
}

.header-posted {
    height: 800px;
    background-image: url(../images/header-background.png);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    padding-top: 180px;
    padding-left: 83px;
}

.header-posted-title {
    width: 60%;
    position: fixed;
    z-index: 1;
}

.header-posted-title h3 {
    color: #ffffff;
    font-weight: 400;
    padding-bottom: 20px;
}

.header-posted-title h3 span {
    font-weight: 700;
}

.header-posted-title h1 {
    color: #ffffff;
    font-size: 50px;
    font-weight: 600;
    line-height: 64px;
    padding-bottom: 20px;
}

.user-information {
    padding-bottom: 20px;
    color: #ffffff;
}

.user-information span {
    color: #FFD050;
}

.header-posted-title-text {
    width: 75%;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #ffffff;
    padding-bottom: 40px;
}

.header-posted-title button {
    padding: 20px 70px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
    background: #FFD050;
    border: none;
    outline: none;
    transition: .5s;
}

.header-posted-title button a {
    color: #232536;
    transition: .5s;
}

.header-posted-title button a:active {
    scale: 0.9;
}

.header-posted-title button:active {
    scale: 0.9;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(3, 3, 3, 0.5);
    z-index: 0;
}

/* main */
.main-popular-blog-title {
    padding: 60px 0 40px 83px;
    font-weight: 600;
}

.cards {
    display: flex;
    gap: 20px;
    padding: 0px 83px 50px 83px;
}

.card-one img,
.card-two img,
.card-three img {
    padding-bottom: 25px;
}

.card-one-user-information,
.card-two-user-information,
.card-three-user-information {
    color: #4C4C4C;
    font-weight: 500;
}

.card-one-title,
.card-two-title,
.card-three-title {
    padding: 15px 0;
}

.card-one-user-information span,
.card-two-user-information span,
.card-three-user-information span {
    color: #592EA9;
    font-weight: 500;
}

.card-one-paragraph,
.card-two-paragraph,
.card-three-paragraph {
    line-height: 25px;
}

.main-category-border-top {
    width: 88%;
    margin: 0 auto;
}

.main-category {
    padding-left: 83px;
    padding-right: 83px;
}

.main-category-cards {
    display: flex;
    gap: 30px;
}

.main-category-title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    transition: .5s;
}

.main-category-title:active {
    scale: 0.9;
}

.main-category-title a {
    color: #232536;
    transition: .5s;
}

.main-category-title a:active {
    color: #ffd050;
}

.main-category-card-one,
.main-category-card-two,
.main-category-card-three,
.main-category-card-four {
    width: 296px;
    border: 1px solid #d3d4d6;
    padding: 30px;
    transition: .5s;
}

.main-category-card-one:hover,
.main-category-card-two:hover,
.main-category-card-three:hover,
.main-category-card-four:hover {
    background: #ffd050;
    cursor: pointer;
}

.main-category-card-img-circle {
    width: 45px;
    height: 45px;
    border-radius: 8px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-category-card-one-title,
.main-category-card-two-title,
.main-category-card-three-title,
.main-category-card-four-title {
    padding-bottom: 15px;
    padding-top: 15px;
}

.main-category-card-one-text,
.main-category-card-two-text,
.main-category-card-three-text,
.main-category-card-four-text {
    line-height: 25px;
    font-size: 15px;
}

/* footer */

footer {
    width: 100%;
    height: 164px;
    display: flex;
    margin-top: 50px;
    background: #232536;
}

.footer-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 83px;
    padding-right: 83px;
}

.footer-contact-information {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.footer-contact-information-address,
.footer-contact-information-email {
    color: #b0b1b6;
    transition: .5s;
}

.footer-contact-information-address:active,
.footer-contact-information-email:active {
    scale: 0.9;
}

.footer-social-media {
    display: flex;
    gap: 20px;
    color: #b0b1b6;
}

.footer-social-media i {
    cursor: pointer;
    transition: .5s;
    font-size: 20px;
}

.footer-social-media i:active {
    scale: 0.9;
}

/* CATEGORY */
.header-category {
    width: 100%;
    height: 348px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #F4F0F8;
}

.header-category-title {
    color: #232536;
    font-size: 56px;
}

.header-category-text {
    width: 38%;
    line-height: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.header-category-blog-text {
    font-weight: 500;
    font-style: 16px;
    line-height: 20px;
    letter-spacing: 3px;
}

.main-category-search {
    width: 100%;
    padding: 50px 83px;
}

.category-search {
    width: 100%;
    height: 60px;
    font-size: 20px;
    text-indent: 15px;
    outline: none;
    border-radius: 5px;
    border: 2px solid #d3d4d6;
}

.main-category-cards {
    width: 100%;
    padding-left: 83px;
    padding-right: 83px;
    display: flex;
    flex-direction: column;
}

.category-card-one,
.category-card-two,
.category-card-three,
.category-card-four {
    display: flex;
    gap: 40px;
}

.business-link {
    color: #592EA9;
    font-weight: 600;
    letter-spacing: 3px;
}

.business-title {
    padding-top: 30px;
    padding-bottom: 50px;
}

.business-text {
    color: #6D6E76;
    line-height: 28px;
}

.main-control-category {
    display: flex;
    gap: 10px;
    padding-top: 55px;
    padding-bottom: 35px;
    align-items: center;
    justify-content: center;
}

.main-control-link {
    color: #232536;
    font-weight: 600;
    font-size: 25px;
    transition: .5s;
}

.main-control-link:first-child {
    color: #6D6E76;
}

.main-control-link:active {
    scale: 0.9;
    color: #6D6E76;
}